<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HTTP Views"
            id="com.hephaestus.http">
      </category>
      <view
            name="HTTP Test"
            icon="icons/sample.gif"
            category="com.hephaestus.http"
            class="com.hephaestus.http.views.HTTPView"
            id="com.hephaestus.http.views.HTTPView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
