<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HTTP Views"
            id="com.hephaestus.http">
      </category>
      <view
            name="HTTP Test"
            icon="icons/sample.gif"
            category="com.hephaestus.http"
            class="com.hephaestus.http.views.HTTPView"
            id="com.hephaestus.http.views.HTTPView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hephaestus.http.preferences.HttpPreferencePage"
            id="com.hephaestus.http.preferences.HttpPreferencePage"
            name="HTTP Client">
         <keywordReference
               id="com.hephaestus.http.host">
         </keywordReference>
         <keywordReference
               id="com.hephaestus.http.port">
         </keywordReference>
         <keywordReference
               id="com.hephaestus.http.proxy">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hephaestus.http.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         id="com.hephaestus.http.httpclientkeywords"
         name="HTTP Client Keywords"
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.hephaestus.http.proxy"
            label="Proxy">
      </keyword>
      <keyword
            id="com.hephaestus.http.host"
            label="Host">
      </keyword>
      <keyword
            id="com.hephaestus.http.port"
            label="Port">
      </keyword>
   </extension>

</plugin>
